<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style_categoria.css">
  <title>Document</title>
</head>
<body>
  <header id="nav-bar">
    <nav id="nav">
        <button id="btn-mobile">
            <span class="material-symbols-outlined">menu</span>
        </button>
        <section id="menu">
            <p>DOE+</p>
            <ul>
                <li><a href="home">Início</a></li>
                <li><a href="ongs">ONGs</a></li>
                <li><a href="#">Nosso propósito</a></li>
            </ul>
            <a href="./login" id="btn-login">
                Entrar
            </a>
        </section>

    </nav>
</header>
<main>
  <div class="categorias">
    <div class="zoom" id="eletronico"></div>
    <div class="zoom" id="vestuario"></div>
    <div class="zoom" id="moveis"></div>
    <div class="zoom" id="cozinha"></div>
    <div class="zoom" id="infantil"></div>
    <div class="zoom" id="acessibilidade"></div>
    <div class="zoom" id="esporte"></div>
    <div class="zoom" id="estudo"></div>
  </div>
</main>
  <footer>
    <p>© Copyright 2023 | DOE+</p>
    <p class="footer-logo">DOE+</p>
    <ul class="card-links">
        <li>
            <a href="#">
                <img src="img/instagram.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/twitter.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/facebook.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/whatsapp.svg" alt="">
            </a>
        </li>
    </ul>
</footer>
</body>
</html>