<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_doar_item.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>DOE+ | ONGS</title>
</head>
<body>
    <header>
        <nav id="nav">
            <button id="btn-mobile">
                <span class="material-symbols-outlined">menu</span>
            </button>
            <section id="menu">
                <p>DOE+</p>
                <ul>
                    <li><a href="home">Início</a></li>
                    <li><a href="ongs">ONGs</a></li>
                    <li><a href="#">Nosso propósito</a></li>
                </ul>
                <a href="login" id="btn-login">
                    Entrar
                </a>
            </section>

        </nav>
    </header>

    <main>
        <section id="selecionar-categoria-item">
            <img src="/public/img/sofa.png" alt="">
            <img src="/public/img/vestuárop.png" alt="">
            <img src="/public/img/eletronico.png" alt="">
        </section>
        <section id="cadastrar-item-container">
            <div class="mensagem-login">
                <h2>O      que      você      está      doando?</h2>
                <p>Somos motivados por cada ação transformadora que você faz aqui!</p>
            </div>
            
            <form action="/" method="post" id="form-doar-item" class="field-container">
                <div class="field-container">
                    <h3>Eletrônico</h3><!-- Aqui será uma lista de categorias -->
                </div>
                <div class="field-container">
                    <label for="nomeCompleto">Título</label>
                    <input type="text" name="nomeCompleto" id="nomeCompleto">
               
                <div class="field-container">
                    <label for="cpf">Bairro</label>
                    <input type="text" name="cpf" id="cpf">
                </div>
                <div class="field-container">
                    <label for="telefone">Descrição</label>
                    <input type="text" name="telefone" id="telefone">
                </div>
                <div class="field-container">
                    <img src="/public/img/add_photo_item.png" alt="" id="imagem_item">
                    <!--<input type="image" name="imagem_item" id="imagem_item">-->
                </div>
                <button type="submit" class="submit">Enviar</button>
            </form>
        </section>
    </main>

        <footer>
            <p>© Copyright 2023 | DOE+</p>
            <p class="footer-logo">DOE+</p>
            <ul class="card-links">
                <li>
                    <a href="#">
                        <img src="img/instagram.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/twitter.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/facebook.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/whatsapp.svg" alt="">
                    </a>
                </li>
            </ul>
        </footer>

    <script src="../public/script.js"></script>
</body>
</html>
