<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>DOE+</title>
</head>
<body>
    <header>
        <nav id="nav">
            <button id="btn-mobile">
                <span class="material-symbols-outlined">menu</span>
            </button>
            <div id="menu">
                <p>DOE+</p>
                <ul>
                    <li><a href="index">Início</a></li>
                    <li><a href="ongs">ONGs</a></li>
                    <li><a href="ongs">Parceiros</a></li>
                    <li><a href="ongs">Nosso propósito</a></li>
                </ul>
                <a href="./login" id="btn-login">
                    Entrar
                </a>
            </div>
        </nav>
    </header>

    <main>
        <h1>DOE+</h1>
        <section id="cards">
            <a href="./login">
                <div class="doador-container"  >
                    <div class="circulo-doador"></div>
                    <img src="img\DoadorMaos.png" alt="">
                    <p> Sou DOADOR +</p>
                </div>
            </a>

            <a href="./loginOng">
                <div class="ong-container">
                    <div class="circulo-ong"></div>
                    <img src="img\ongCasa.png" alt="">
                    <p> Sou ONG +</p>
                </div>
            </a>
        </section>
    </main>

    <footer>
        <p>© Copyright 2023 | DOE+</p>
        <p class="footer-logo">DOE+</p>
        <ul class="card-links">
            <li>
                <a href="#">
                    <img src="img/instagram.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/twitter.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/facebook.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="img/whatsapp.svg" alt="">
                </a>
            </li>
        </ul>
    </footer>

    <script src="/public/script.js"></script>
</body>
</html>
