<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_doar_item.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>DOE+ | ONGS</title>
</head>
<body>
    <header>
        <nav id="nav">
            <button id="btn-mobile">
                <span class="material-symbols-outlined">menu</span>
            </button>
            <section id="menu">
                <p>DOE+</p>
                <ul>
                    <li><a href="home.ejs">Início</a></li>
                    <li><a href="ongs.ejs">ONGs</a></li>
                    <li><a href="#">Nosso propósito</a></li>
                </ul>
                <a href="./login" id="btn-login">
                    Entrar
                </a>
            </section>

        </nav>
    </header>

    <main>
        <section>
            <h2>Veja todos os itens que você está doando!</h2>
        </section>
        <section id="item-doado">
            <div class="item-doado">
                <p>asdasds</p>
            </div>
        </section>
         
    </main>

        <footer>
            <p>© Copyright 2023 | DOE+</p>
            <p class="footer-logo">DOE+</p>
            <ul class="card-links">
                <li>
                    <a href="#">
                        <img src="img/instagram.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/twitter.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/facebook.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/whatsapp.svg" alt="">
                    </a>
                </li>
            </ul>
        </footer>

    <script src="../public/script.js"></script>
</body>
</html>
