<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_ongs.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/bd742d0781.js" crossorigin="anonymous"></script>
    <title>DOE+ | ONGS</title>
</head>
<body>
    <header id="nav-bar">
        <nav id="nav">
            <button id="btn-mobile">
                <span class="material-symbols-outlined">menu</span>
            </button>
            <section id="menu">
                <p>DOE+</p>
                <ul>
                    <li><a href="index">Início</a></li>
                    <li><a href="ongs">ONGs</a></li>
                    <li><a href="ongs">Parceiros</a></li>
                    <li><a href="ongs">Nosso propósito</a></li>
                </ul>
                <a href="./login" id="btn-login">
                    Entrar
                </a>
            </section>

        </nav>
    </header>

    <main>
        <section id="ongs-titulo">
            <h1>DOE+</h1>
            <p>Site inovador que tem como missão promover a doação para abrigos necessitados. Com uma plataforma simples e intuitiva, conectamos doadores a instituições de caridade, facilitando o processo de doação. Junte-se a nós nessa causa e faça a diferença na vida de quem mais precisa. Seja um doador no doe+ e conceda esperança na vida das pessoas.</p>
        </section>
        
        <section id="cards">
            <div class="ong-parceira" id="ong-parceira-um">
                <img id="img-ong" src="img/ongs/ongPet.png" alt="">
                <div class="ong-parceira-conteudo">
                    <h2>Estrelas Solidárias</h2>
                    <p>Dedica-se ao cuidado e proteção dos animais,buscando proporcionar-lhes uma vida plena e feliz. Foco está em resgatar, reabilitar e encontrar lares amorosos para animais em situação de vulnerabilidade.
                        <br>CNPJ: 52.713.849/0621-03</p>
                </div>
                <ul class="ong-parceira-card-links">
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ong-parceira" id="ong-parceira-dois">
                <img id="img-ong" src="img/ongs/ongIdoso.png" alt="">
                <div class="ong-parceira-conteudo">
                    <h2>Mãos Unidas</h2>
                    <p>É um local acolhedor e seguro projetado especialmente para cuidar de idosos. O abrigo oferece uma atmosfera familiar e carinhosa, onde os idosos são tratados com respeito, dignidade e atenção individualizada.
                        <br>CNPJ: 36.084.291/7523-00</p>
                </div>
                <ul class="ong-parceira-card-links">
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ong-parceira" id="ong-parceira-tres">
                <img id="img-ong" src="img/ongs/ongCrianca.png" alt="">
                <div class="ong-parceira-conteudo">
                    <h2>Esperança Viva</h2>
                    <p>Foco principal atender crianças, proporcionando um ambiente seguro e acolhedor para o desenvolvimento integral.
                        <br>CNPJ: 19.743.086/2519-01</p>
                </div>
                <ul class="ong-parceira-card-links">
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i>
                        </a>
                    </li>
                </ul>
            </div>
             </section>
        </main>

        <footer>
            <p>© Copyright 2023 | DOE+</p>
            <p class="footer-logo">DOE+</p>
            <ul class="card-links">
                <li>
                    <a href="#">
                        <img src="img/instagram.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/twitter.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/facebook.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/whatsapp.svg" alt="">
                    </a>
                </li>
            </ul>
        </footer>

    <script src="../public/script.js"></script>
</body>
</html>
