<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_ongs.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/bd742d0781.js" crossorigin="anonymous"></script>
    <title>DOE+ | ONGS</title>
</head>
<body>
    <header id="nav-bar">
        <nav id="nav">
            <button id="btn-mobile">
                <span class="material-symbols-outlined">menu</span>
            </button>
            <section id="menu">
                <p>DOE+</p>
                <ul>
                    <li><a href="home">Início</a></li>
                    <li><a href="ongs">ONGs</a></li>
                    <li><a href="#">Nosso propósito</a></li>
                </ul>
                <a href="./login" id="btn-login">
                    Entrar
                </a>
            </section>

        </nav>
    </header>

    <main>
        <section id="ongs-titulo">
            <h1>DOE+</h1>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
        </section>
        
        <section id="cards">
            <div class="ong-parceira" id="ong-parceira-um">
                <img id="img-ong" src="img/varias_maos.png" alt="">
                <div class="ong-parceira-conteudo">
                    <h2>Nome da ONG</h2>
                    <p>Consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.
                        <br>CNPJ: 00.000.000/0001-00</p>
                </div>
                <ul class="ong-parceira-card-links">
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ong-parceira" id="ong-parceira-dois">
                <img id="img-ong" src="img/varias_maos.png" alt="">
                <div class="ong-parceira-conteudo">
                    <h2>Nome da ONG</h2>
                    <p>Consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.
                        <br>CNPJ: 00.000.000/0001-00</p>
                </div>
                <ul class="ong-parceira-card-links">
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ong-parceira" id="ong-parceira-tres">
                <img id="img-ong" src="img/varias_maos.png" alt="">
                <div class="ong-parceira-conteudo">
                    <h2>Nome da ONG</h2>
                    <p>Consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.
                        <br>CNPJ: 00.000.000/0001-00</p>
                </div>
                <ul class="ong-parceira-card-links">
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i>
                        </a>
                    </li>
                </ul>
            </div>
             </section>
        </main>

        <footer>
            <p>© Copyright 2023 | DOE+</p>
            <p class="footer-logo">DOE+</p>
            <ul class="card-links">
                <li>
                    <a href="#">
                        <img src="img/instagram.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/twitter.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/facebook.svg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="img/whatsapp.svg" alt="">
                    </a>
                </li>
            </ul>
        </footer>

    <script src="../public/script.js"></script>
</body>
</html>
