@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 40px;
    right: 0;
    background-color: white;
    z-index: 10;
}

#menu a {
    color: black;
    font-weight: 500;
}

#menu p {
    visibility: hidden;
}

#btn-desativar-anuncio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.87rem;
    border: none;
    border-radius: 5px;
    background-color: #FFC468;
}

#btn-desativar-anuncio:hover,
.doador-container:hover {
    background-color: #c19650;
}
#btn-excluir-item:hover,
.doador-container:hover {
    background-color: #e0e0e0;
}

#btn-excluir-item{
    color: red;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.87rem;
    border: none;
    border-radius: 5px;
    background-color: white;
    
}
#nav {
    margin: 1rem 0 0 1rem;
}

#nav.active #menu {
    display: flex;
    flex-direction: column;
}

#nav.active ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1.5rem 0 0 2rem;
}

#nav.active #btn-login {
    margin: 1.5rem 0 1.5rem 2rem;
}

#btn-mobile {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

body {
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

main h1 {
    letter-spacing: 3.55rem;
    margin: 2rem 0 4.93rem 4rem;
}

#titulo-itens-doados{
    display: none;
    margin-bottom: 30rem;
}
.doador-container {
    background-color: #FFC468;
}
textarea{
    width: 90%;
    height: 147px;
    padding: 5px;
}
.item{
    display: grid;
    grid-template-columns: 20% 55% 25%;
	grid-template-rows: 10% 10% 10% 70%;
	grid-template-areas:
		"img titulo titulo"
        "img categoria categoria"
		"img bairro bairro"
		"img descricao btn"
		;

    background-color: #ffffff;
    width: 1151px;
    height: 239px;
}
#titulo, #categoria, #bairro, #descricao{
    background-color: rgb(255, 255, 255);
    padding-left: 1rem;    
} 
img{
    grid-area: img;
}
#titulo{
    grid-row: titulo;
}
#categoria{
    grid-row: categoria;
}
#bairro{
    grid-row: bairro;
}
#descricao{
    grid-row: descricao;
}
#btn{
    grid-row: btn;
    width: 100%;
}
#btn > #btn-desativar-anuncio, #btn-excluir-item{
    width: 100%;
    margin-bottom: 0.5rem;
}
.doador-container,
.ong-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20.93rem;
    height: 20.18rem;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.doador-container img,
.ong-container img {
    margin: 3.87rem 0 0.5rem 0;
    position: relative;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 8px solid #D9D9D9;
    margin-top: 3rem;
    padding: 2rem;
}

.footer-logo {
    visibility: hidden;
}

.card-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 4rem;
}

.card-links img {
    margin-top: 2rem;
    width: 1.5rem;
}

@media only screen and (min-width: 720px) and (max-width: 1920px) {
    #btn-mobile {
        display: none;
    }

    main h1 {
        margin-top: 4rem;
    }

    #menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: static;
    }

    #menu ul {
        display: flex;
        gap: 5.62rem;
    }

    #menu p {
        visibility: hidden;
    }

    #cards {
        display: flex;
        gap: 5.12rem;
    }

    .ong-container {
        margin-top: 0;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-top: 8px solid #D9D9D9;
        margin-top: 0;
        padding: 0;
    }

    .footer-logo {
        visibility: visible;
        letter-spacing: 1.92rem;
    }

    .card-links {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 4rem;
        margin-bottom: 2rem;
    }
}