@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/*GRID*/

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

body{
    max-width: 1920px;
    max-height: 720px;
}
.grid {
    width: 100%;
    height: 100%;
	display: grid;
}

.logo {
	grid-area: logo;
}
#logo {
    text-align: center;
    letter-spacing: 4rem;
    font-size: 3rem;
    font-weight: bold;
    color: black;
    margin-top: 3rem;
}
.nav {
	grid-area: nav;
}

#menu {
    display: none;
    position: absolute;
    width: 100%;
    right: 0;
    background-color: white;
    z-index: 10;
    font-size: 16px;
    margin-top: -1rem;
    justify-content: space-between;
    
}

#menu a {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

#menu p {
    visibility: hidden;
}

#btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 1.87rem;
    border: none;
    border-radius: 5px;
    background-color: #FFC468;
    margin-right: 2rem;
}

#btn-login:hover,
.doador-container:hover {
    background-color: #c19650;
}

#nav {
    margin: 1rem 0 0 1rem;
    width: 100%;
}

#nav.active #menu {
    display: flex;
    flex-direction: column;
}

#nav.active ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1.5rem 0 0 2rem;
}

#nav.active #btn-login {
    margin: 1.5rem 0 1.5rem 2rem;
}

#btn-mobile {
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.sidenav {
	grid-area: sidenav;
    min-width: 278px;
}

.card-categoria {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    
}
.card-categoria a{
    text-decoration: none;
}

.card-categoria img {
    margin-top: 2rem;
    height: 75%;
    width: 100%;
}
.card-categoria p {
    font-family: 'Inter', sans-serif;
    font-style: normal;

    margin-top: 0.5rem;

    color: black;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
}
.advert{
    background-color: rgb(219, 219, 219);
    grid-area: advert;
    height: 20rem;
    min-height: 24.5rem;

}
.advert > ul{
    padding-left: 0;
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
}


.grid-template-areas-4 {
	grid-template-columns: min-content 80% ;
	grid-template-rows: 3rem min-content 60.75rem 3rem;
	grid-template-areas:
		"logo nav"
        "advert advert"
		"sidenav content"
		"footer footer"
		;
}

/* Grid Item */
.item {
	margin: 5px 0px;
	text-align: center;
	font-size: 1.5em;
}

.content > .list-itens{
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem;

}

.obj{
    height: 364px;
    width: 240px;
    margin-right: 10px;
    margin-bottom: 40px;
}

.obj img{
    width: 15rem;
    height: 13.625rem;
}
.obj p{
    font-size: small;
    text-align: left;
}
.obj h3{
    font-size: 16px;
    text-align: left;
    margin-top: 0.5rem;
    font-weight: bold;
    
}
.obj h4{
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}
.btn-tenho-interesse{
   
}

.filtro{
    border: #9A9A9A;
    border-style: groove;
    border-width: 2px;
    border-radius: 5px;
    margin-left: 2rem;
    padding-left: 0.5rem;
    text-align: left;
    font-size: 1.2rem;
    min-width: 278px;
}
.filtro h4{
    margin-top: 2rem;
    font-size: 1.2rem;
}
h1 {
	text-align: center;
	font-size: 1.25em;
	font-weight: normal;
}




body > div > img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
footer{
    font-size: 14px;
}
.card-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 4rem;
}

.card-links img {
    width: 1.5rem;
}

/*

@media only screen and (min-width: 720px) and (max-width: 1920px) {
    #btn-mobile {
        display: none;
    }
    
    main h1 {
        margin-top: 2rem;
    } 
    
    #menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: static;
    }
    
    #menu ul {
        display: flex;
        gap: 5.62rem;
    }
    
    #menu p {
        visibility: visible;
    }
    
    #cards {
        width: 1404px;
        display: flex;
        gap: 5.12rem;
        margin: 2rem 0 5rem 0;
        
        justify-content: space-between;
    }

    .ong-container {
        margin-top: 0;
    }
    
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-top: 8px solid #D9D9D9;
        margin-top: 0;
        padding: 0;
    }
    
    .footer-logo {
        visibility: visible;
        letter-spacing: 1.92rem;
    }
    
    .card-links {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 4rem;
        margin-bottom: 2rem;
    }
}

*/
.button {
    margin-top: 0.5rem;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    background-color: #FFC468;
    
    padding: 0.4rem;

    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    
}

.button:hover {
    color: #202020;
}
.overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
}
.overlay:target {
visibility: visible;
opacity: 1;
}

.popup {
margin: 70px auto;
padding: 20px;
background: #fff;
border-radius: 5px;
width:  690px;
height: 700px;
position: relative;
transition: all 5s ease-in-out;
text-align: start;

display: grid;
grid-template-columns: 11.4rem 27rem;
grid-row: 13rem 20rem 13rem 20rem; 
grid-template-areas: "tituloInfoItem tituloInfoItem"
                    "imgItem InfoItem"
                    "tituloInfoDoador tituloInfoDoador"
                    "imgDoador InfoDoador"
;
column-gap: 2rem;
}
.popup p{
    font-size: 18px;
    margin: 0;
    max-width: max-content;
}
.popup a{
    text-decoration: none;
    font-size: 18px;
    margin: 0;
}
.desc-card {
    font-size: 14px;
    margin-top: 0.5rem;
    margin-right: 1rem;
    font-weight: 700;
    text-align: justify;
}
.tituloItemPopUp{
    /* margin-top: 5rem; */
}  
.textPopUp{
    margin-left: 1rem;
}
#tituloInfoItem{
    grid-area: tituloInfoItem;

}
#tituloInfoItem{
    grid-area: tituloInfoItem;
}
#imgItem{
    grid-area: imgItem;
}
#InfoItem{
    grid-area: InfoItem;
    font-size: 18px;
}
#tituloInfoDoador{
    grid-area: tituloInfoDoador;
}
#imgDoador{
    grid-area: imgDoador;
}
#InfoDoador{
    grid-area: InfoDoador;
}
   .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    right: 25px;
    transition: all 200ms;
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  } 
  .popup .close:hover {
      color: #FFC468;
    }

  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
@media only screen and (min-width: 720px) and (max-width: 1920px) {
    #btn-mobile {
        display: none;
    }

    #menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: static;
    }

    #menu ul {
        display: flex;
        gap: 5.62rem;
        margin-bottom: 0;
    }

    #menu p {
        visibility: hidden;
    }
    

    #cards {
        display: flex;
        gap: 5.12rem;
    }

    .ong-container {
        margin-top: 0;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-top: 8px solid #D9D9D9;
        margin-top: 6rem;
        padding-top: 15px;
    }

    .footer-logo {
        visibility: visible;
        letter-spacing: 1.92rem;
    }

    .card-links {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 4rem;
    }
}


  

  