  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 40px;
    right: 0;
    background-color: white;
    z-index: 10;
}

#menu a {
    color: black;
    font-weight: 500;
}
#menu p {
    letter-spacing: 2rem;
    /*margin: 2rem 0 4.93rem 4rem;*/
    font-size: 1.32rem;
    font-weight: bold;

}
#btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 1.87rem;
    border: none;
    border-radius: 5px;
    background-color: #FFC468;
}

#btn-login:hover, .doador-container:hover {
    background-color: #c19650;
}

#nav {
    margin: 1rem 0 0 1rem;
}

#nav.active #menu{
    display: flex;
    flex-direction: column;
}

#nav.active ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1.5rem 0 0 2rem;
}

#nav.active #btn-login {
    margin: 1.5rem 0 1.5rem 2rem;
}

#btn-mobile {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

body {
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-top: 4rem;
}

main {
    color: white;
}
main #ongs-titulo {
    background-color: #355239;
    color: white;
    height: 239px;
}

.categorias{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 10rem 20rem;
	width: 60rem;
	height: 30rem;
	background-color: orange;
}

.zoom {
	padding: 50px;
	background-color: green;
	transition: transform .2s; /* Animation */
	width: 15rem;
	height: 15rem;
	margin: 0 auto;
  }
  
  .zoom:hover {
	transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

#eletronico{
	background-image: url("/img/NOME_DA_IMAGEM");
	background-color: #355239;
}
#vestuario{
	/* background-image: url("/img/NOME_DA_IMAGEM"); */
	background-color: #30893c;
}
#moveis{
	/* background-image: url("/img/NOME_DA_IMAGEM"); */
	background-color: #0fe42c;
	
}
#cozinha{
	/* background-image: url("/img/NOME_DA_IMAGEM"); */
	background-color: #95a816;
	
	
}
#infantil{
	/* background-image: url("/img/NOME_DA_IMAGEM"); */
	background-color: #1aa68f;
	
}

#acessibilidade{
	/* background-image: url("/img/NOME_DA_IMAGEM"); */
	background-color: #797f7a;
	
}
#esporte{
	/* background-image: url("/img/NOME_DA_IMAGEM"); */
	background-color: #4f144d;
}
#estudo{
	/* background-image: url("/img/NOME_DA_IMAGEM"); */
	background-color: #310b0b;
	
}
footer {
    display: flex;

    flex-direction: column    align-items: center;
    border-top: 8px solid #D9D9D9;
    margin-top: 3rem;
    padding: 2rem;
}

.footer-logo {
    visibility: hidden;
}

.card-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    
    gap: 4rem;
}

.card-links img {
    margin-top: 2rem;
    width: 1.5rem;
}



@media only screen and (min-width: 720px) and (max-width: 1920px) {
    #btn-mobile {
        display: none;
    }

    main h1 {
        margin-top: 2rem;
    } 

    #menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: static;
    }

    #menu ul {
        display: flex;
        gap: 5.62rem;
    }
    
    #menu p {
        visibility: visible;
    }

    #cards {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        position: static;
        justify-content: center;
        /* text-align: justify; */
    }

    .ong-container {
        margin-top: 0;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-top: 8px solid #D9D9D9;
        margin-top: 0;
        padding: 0;
    }

    .footer-logo {
        visibility: visible;
        letter-spacing: 1.92rem;
    }

    .card-links {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 4rem;
        margin-bottom: 2rem;
    }
}
